
    <div>api</div>
<div class="allbeer" > {{#each allTheBeers}}
    <div class="beer" >
        <h1>{{name}}</h1>
        <h3>{{tagline}}</h3>
        <img src={{image_url}} alt="imgbeer"  width="5%" >
        <p>{{description}}</p>
    </div>
    {{/each}}
</div>

